@font-face {
    font-family: FjallaOne;
    src: url(fonts/Fjalla_One/FjallaOne-Regular.ttf);
  }

body {
    background-color: skyblue;
    width: 95vw;
    height: 95vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    color: turquoise;
    font-size: 80px;
    padding: 10px;
    margin: 10px;
    -webkit-text-stroke: 1px black;
    font-family: FjallaOne;
}

#squares {
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 5px solid black;
    border-radius: 10px;
    background-color: white;
}

#rowDiv {
    width: 70vh;
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
}

#square {
    flex-grow: 1;
}

button {
    font-size: 30px;
    background-color: turquoise;
    color: black;
    border: 2px solid black;
    border-radius: 12px;
    margin: 30px;
    font-family: FjallaOne;
}